@model traningcenter.Models.instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instructors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cours.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cours.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
